<!DOCTYPE html>
<html>
    <body>
        <h1>Hello <%= username%>!</h1>
        <h2>This is your emailId <%= useremail%></h2>
        <h3>Your phonenumber is <%= phonenumber%></h3>
    </body>
</html>